@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  border-radius: 6px;

}

#waybar {
  background-color: transparent;
  color: @text;
  margin-top: 1px;
}

#workspaces {
  border-radius: 0.5rem;
  margin: 1px;
  background-color: #111111;
  margin-left: 1rem;
  
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  /*background-color: @surface0;*/
  background: #111111;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#cpu,
#memory,
#temperature {
   margin-right: 0.4rem;
}

